{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
{% for flash_error in app.flashes('verify_email_error') %}
<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
{% endfor %}
<div class="container">
    <div style="width: 500px; max-width: 100%; margin: auto;" class="my-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Créer un compte</h5>

                {{ form_start(registrationForm) }}
                {{ form_errors(registrationForm) }}
                {{ form_widget(registrationForm) }}

                <button type="submit" class="btn btn-primary">Confirmer</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}